body {
    margin: 0px;

    background-color: #aca;
}



canvas {

    /* next 3 lines center the canvas*/
    display: block;
    margin-left: auto;
    margin-right: auto;


    width: 500px;
    height: 500px;
}

h1, h2 {
    text-align: center;
    font-family: 'VT323';
}

h1 {
    font-size: 3em;
    margin-bottom: 0px;
}

h2 {
    font-size: 2em;
    margin-top: 0px;
}
